{% extends 'base.html' %}
{% block body %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'assets/category/css/vendor/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/category/css/vendor/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'assets/category/css/vendor/icon-font.css' %}">
<link rel="stylesheet" href="{% static 'assets/category/css/vendor/remixicon.css' %}"> -->
<link rel="stylesheet" href="{% static 'assets/category/css/app.css' %}">
<link rel="stylesheet" href="{% static 'assets/category/css/responsive.css' %}">
<div class="topspace"></div>
<div id="main-wrapper" class="main-wrapper mb-5">
    {% if BlogData %}
    <section class="blog-hero-area mb-3 mt-30">
        <div class="container">
            <div class="mb-3">
                <div class="section-title">खबरें</div>
                <div class="double-underline"></div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    {% for Blog in BlogData|slice:"0:3" %}
                    <article class="post-block-style-wrapper post-block-template-one post-block-template-small">
                        <div class="post-block-style-inner">
                            <div class="post-block-media-wrap m-0">
                                <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">
                                    <img src="{{ Blog.post_image.url }}" alt="{{ Blog.post_title }}" title="{{ Blog.post_title }}" loading="lazy">
                                </a>
                            </div>
                            <div class="card-background p-3">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">{{ Blog.post_title|truncatechars:80 }}</a>
                                    </h2>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        By <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                            {% if Blog.author %}
                                                {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                            {% elif Blog.journalist %}
                                                {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                                        {% include 'share.html' with posts=Blog %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                <div class="col-lg-5">
                    {% for Blog in BlogData|slice:"3:5" %}
                    <article class="post-block-style-wrapper post-block-template-one sm-mt-24">
                        <div class="post-block-style-inner">
                            <div class="post-block-media-wrap m-0">
                                <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">
                                    <img src="{{ Blog.post_image.url }}" alt="{{ Blog.post_title }}" title="{{ Blog.post_title }}" loading="lazy">
                                </a>
                            </div>
                            <div class="card-background p-3">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">{{ Blog.post_title|truncatechars:90 }}</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box">
                                    <p>{{ Blog.post_short_des|truncatechars:150 }}</p>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        By <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                            {% if Blog.author %}
                                                {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                            {% elif Blog.journalist %}
                                                {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                                        {% include 'share.html' with posts=Blog %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    {% for Blog in BlogData|slice:"5:12" %}
                    <article class="post-block-style-wrapper post-block-template-two">
                        <div class="post-block-style-inner post-block-list-style-inner card-background p-2">
                            <div class="post-block-media-wrap">
                                <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">
                                    <img src="{{ Blog.post_image.url }}" alt="{{ Blog.post_title }}" title="{{ Blog.post_title }}" loading="lazy" style="height: auto;">
                                </a>
                            </div>
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title" style="font-size: 18px;">
                                        <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">{{ Blog.post_title|truncatechars:50 }}</a>
                                    </h2>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                            {% if Blog.author %}
                                                {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                            {% elif Blog.journalist %}
                                                {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                                        {% include 'share.html' with posts=Blog %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-pagination-area mt-40">
                        <ul class="page-numbers">
            
                            {% if BlogData.has_previous %}
                                <li><a class="page-numbers" href="?page={{ BlogData.previous_page_number }}&headline_page={{ headline.number }}&articles_page={{ articales.number }}&trending_page={{ trending.number }}&breakingnews={{ brknews.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ podcast.number }}">
                                    <i class="icofont-long-arrow-left"></i>
                                </a></li>
                            {% endif %}
            
                            {% for page_num in BlogData.paginator.page_range %}
                                {% if page_num == 1 or page_num == BlogData.paginator.num_pages or page_num >= BlogData.number|add:"-1" and page_num <= BlogData.number|add:"1" %}
                                    
                                    {% if page_num == BlogData.number %}
                                        <li><span aria-current="page" class="page-numbers current">{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a class="page-numbers" href="?page={{ page_num }}&headline_page={{ headline.number }}&articles_page={{ articales.number }}&trending_page={{ trending.number }}&breakingnews={{ brknews.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ podcast.number }}">{{ page_num }}</a></li>
                                    {% endif %}
                                
                                {% elif page_num == BlogData.number|add:"-2" or page_num == BlogData.number|add:"2" %}
                                    <li><span class="page-numbers">...</span></li>
                                {% endif %}
                            {% endfor %}
            
                            {% if BlogData.has_next %}
                                <li><a class="page-numbers" href="?page={{ BlogData.next_page_number }}&headline_page={{ headline.number }}&articles_page={{ articales.number }}&trending_page={{ trending.number }}&breakingnews={{ brknews.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ podcast.number }}">
                                    <i class="icofont-long-arrow-right"></i>
                                </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>                 
        </div>
    </section>
    {% endif %}

    {% if latestnews %}
    <section class="articles-grid-section my-5">
        <div class="container">
            <div class="mb-3">
                <div class="section-title">ताज़ा खबरें</div>
                <div class="double-underline"></div>
            </div>
            <div class="row">
                {% for Blog in latestnews|slice:":4"%}
                <div class="col-lg-3">
                    <div class="post-block-style-wrapper post-block-template-one post-block-template-small">
                        <div class="post-block-style-inner">
                            <div class="post-block-media-wrap m-0">
                                <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">
                                    <img src="{{ Blog.post_image.url }}" alt="{{ Blog.post_title }}" title="{{ Blog.post_title }}" loading="lazy">
                                </a>
                            </div>
                            <div class="card-background p-3">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">{{ Blog.post_title|truncatechars:55 }}</a>
                                    </h2>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        By <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                            {% if Blog.author %}
                                                {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                            {% elif Blog.journalist %}
                                                {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                                        {% include 'share.html' with posts=Blog %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>      
        </div>
    </section>
    {% endif %}

    {% if headline %}

    {% endif %}

    {% if trendpost %}
    <section class="editor-choice-two-area">
        <div class="container">
            <div class="mb-3">
                <div class="section-title">ट्रेंडिंग खबरें</div>
                <div class="double-underline"></div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    {% for Blog in trendpost|slice:":3" %}
                    <div class="post-block-style-wrapper post-block-template-four my-3">
                        <div class="post-block-style-inner post-block-list-style-inner">
                            <div class="post-block-media-wrap">
                                <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">
                                    <img src="{{ Blog.post_image.url }}" alt="{{ Blog.post_title }}" title="{{ Blog.post_title }}" loading="lazy">
                                </a>
                            </div>
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">{{ Blog.post_title|truncatechars:80 }}</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box">
                                    <p>{{ Blog.post_short_des|truncatechars:150 }}</p>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        By <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                            {% if Blog.author %}
                                                {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                            {% elif Blog.journalist %}
                                                {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                                        {% include 'share.html' with posts=Blog %}
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-4">
                    {% for Blog in trendpost|slice:"3:7"%}
                    <div class="post-block-style-wrapper post-block-template-two most-read-block-list my-3">
                        <div class="post-block-style-inner post-block-list-style-inner">
                            <div class="post-block-media-wrap">
                                <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">
                                    <img src="{{ Blog.post_image.url }}" alt="{{ Blog.post_title }}" title="{{ Blog.post_title }}" loading="lazy">
                                </a>
                            </div>
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">{{ Blog.post_title|truncatechars:60 }}</a>
                                    </h2>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                            {% if Blog.author %}
                                                {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                            {% elif Blog.journalist %}
                                                {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                            {% else %}
                                                Admin
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                                        {% include 'share.html' with posts=Blog %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-12 col-md-12">
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-pagination-area mt-40">
                        <ul class="page-numbers">
                            {% if BlogData.has_previous %}
                                <li><a class="page-numbers" href="?page={{ BlogData.previous_page_number }}&headline_page={{ headline.number }}&articles_page={{ articales.number }}&trending_page={{ trending.number }}&breakingnews={{ brknews.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ podcast.number }}">
                                    <i class="icofont-long-arrow-left"></i>
                                </a></li>
                            {% endif %}
            
                            {% for page_num in BlogData.paginator.page_range %}
                                {% if page_num == 1 or page_num == BlogData.paginator.num_pages or page_num >= BlogData.number|add:"-1" and page_num <= BlogData.number|add:"1" %}
                                    {% if page_num == BlogData.number %}
                                        <li><span aria-current="page" class="page-numbers current">{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a class="page-numbers" href="?page={{ page_num }}&headline_page={{ headline.number }}&articles_page={{ articales.number }}&trending_page={{ trending.number }}&breakingnews={{ brknews.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ podcast.number }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% elif page_num == BlogData.number|add:"-2" or page_num == BlogData.number|add:"2" %}
                                    <li><span class="page-numbers">...</span></li>
                                {% endif %}
                            {% endfor %}
            
                            {% if BlogData.has_next %}
                                <li><a class="page-numbers" href="?page={{ BlogData.next_page_number }}&headline_page={{ headline.number }}&articles_page={{ articales.number }}&trending_page={{ trending.number }}&breakingnews={{ brknews.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ podcast.number }}">
                                    <i class="icofont-long-arrow-right"></i>
                                </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    {% endif %}

    {% if breakingnews %}


    {% endif %}

    {% if vidnews %}
    <section class="video-posts-area pt-30 pb-80 mt-80">
        <div class="container">
            <div class="mb-3">
                <div class="section-title text-white">वीडियो खबर</div>
                <div class="double-underline"></div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    {% for Blog in vidnews|slice:":2" %}
                    <div class="post-block-style-wrapper post-block-template-one post-block-video mb-3">
                        <div class="post-block-style-inner">
                            <div class="post-block-video-thumb">
                                <div class="post-block-media-wrap">
                                    <a href="/video/{{Blog.slug}}">
                                        <img style="object-fit: unset;" src="https://img.youtube.com/vi/{{Blog.video_url}}/hqdefault.jpg" alt="{{ Blog.video_title }}" title="{{ Blog.video_title }}" loading="lazy">
                                    </a>
                                </div>
                                <div class="video-play-icon-wrap">
                                    <a style="display: flex; align-items: center; justify-content: center;"  href="/video/{{Blog.slug}}" class="theme-play-btn video-play-btn"><i style="font-size: 30px; " class="fa fa-play"></i></a>
                                </div>
                            </div>
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a style="color: white !important;" href="/video/{{Blog.slug}}">{{ Blog.video_title|truncatechars:100 }}</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box text-white">
                                    <p>{{ Blog.video_short_des|truncatechars:120 }}</p>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                            {% if Blog.author %}
                                            {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                        {% elif Blog.journalist %}
                                            {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                        {% else %}
                                            Admin
                                        {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box text-white">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-lg-5">
                    {% for Blog in vidnews|slice:"2:7" %}
                    <div class="post-block-style-wrapper post-block-template-two post-video-list">
                        <div class="post-block-style-inner post-block-list-style-inner">
                            <div class="post-block-media-wrap">
                                <a href="/video/{{Blog.slug}}">
                                    <img src="https://img.youtube.com/vi/{{Blog.video_url}}/hqdefault.jpg" alt="{{ Blog.video_title }}" title="{{ Blog.video_title }}" loading="lazy">
                                </a>
                                <div style="top: 40%; left: 40%;" class="video-play-icon-wrap">
                                    <a style="display: flex; align-items: center; justify-content: center; width: 40px !important; height: 40px !important;"  href="/video/{{Blog.slug}}" class="theme-play-btn video-play-btn"><i style="font-size: 18px; color: black;" class="fa fa-play"></i></a>
                                </div>
                            </div>
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a style="color: white !important;" href="/video/{{Blog.slug}}">{{ Blog.video_title|truncatechars:160 }}</a>
                                    </h2>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                        {% if Blog.author %}
                                            {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                        {% elif Blog.journalist %}
                                            {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                        {% else %}
                                            Admin
                                        {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box text-white">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-12 col-md-12">
                       
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-pagination-area mt-40">
                        <ul class="page-numbers">
                            {% if vidnews.has_previous %}
                                <li><a class="page-numbers" href="?podcast_page={{ vidnews.previous_page_number }}&page={{ BlogData.number }}&headline_page={{ headline.number }}&articles_page={{ Articale.number }}&brknews_page={{ bnews.number }}&trending_page={{ trendpost.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}">
                                    <i class="icofont-long-arrow-left"></i>
                                </a></li>
                            {% endif %}
            
                            {% for page_num in vidnews.paginator.page_range %}
                                {% if page_num == 1 or page_num == vidnews.paginator.num_pages or page_num >= vidnews.number|add:"-1" and page_num <= vidnews.number|add:"1" %}
                                    {% if page_num == vidnews.number %}
                                        <li><span aria-current="page" class="page-numbers current">{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a class="page-numbers" href="?podcast_page={{ page_num }}&page={{ BlogData.number }}&headline_page={{ headline.number }}&articles_page={{ Articale.number }}&brknews_page={{ bnews.number }}&trending_page={{ trendpost.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% elif page_num == vidnews.number|add:"-2" or page_num == vidnews.number|add:"2" %}
                                    <li><span class="page-numbers">...</span></li>
                                {% endif %}
                            {% endfor %}
            
                            {% if vidnews.has_next %}
                                <li><a class="page-numbers" href="?podcast_page={{ vidnews.next_page_number }}&page={{ BlogData.number }}&headline_page={{ headline.number }}&articles_page={{ Articale.number }}&brknews_page={{ bnews.number }}&trending_page={{ trendpost.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}">
                                    <i class="icofont-long-arrow-right"></i>
                                </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </section>
    {% endif %}
    
    {% if Articale %}
    <section class="popular-posts-column-area mt-60 mb-35">
        <div class="container">
            <div class="mb-3">
                <div class="section-title">अनुच्छेद</div>
                <div class="double-underline"></div>
            </div>
            <div class="row">
                {% for Blog in Articale|slice:":6"%}
                <div class="col-lg-3">
                    <article class="post-block-style-wrapper post-block-template-one post-block-template-medium mb-40">
                        <div class="post-block-style-inner">
                            <div class="post-block-media-wrap">
                                <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">
                                    <img src="{{ Blog.post_image.url }}" alt="{{ Blog.post_title }}" title="{{ Blog.post_title }}" loading="lazy">
                                </a>
                            </div>
                            <div class="post-block-content-wrap">
                                <div class="post-item-title">
                                    <h2 class="post-title">
                                        <a href="/{{ Blog.newsfrom.slug }}/{{ Blog.post_cat.sub_cat.cat_slug }}/{{ Blog.slug }}">{{ Blog.post_title|truncatechars:60 }}</a>
                                    </h2>
                                </div>
                                <div class="post-excerpt-box">
                                    <p>{{ Blog.post_short_des|truncatechars:150 }}</p>
                                </div>
                                <div class="post-bottom-meta">
                                    <div class="post-meta-author-box">
                                        By <a style="color: #de1c24 !important;" href="javascript:void(0)">
                                        {% if Blog.author %}
                                            {{ Blog.author.first_name|capfirst }} {{ Blog.author.last_name|capfirst }}
                                        {% elif Blog.journalist %}
                                            {{ Blog.journalist.first_name|capfirst }} {{ Blog.journalist.last_name|capfirst }}
                                        {% else %}
                                            Admin
                                        {% endif %}
                                        </a>
                                    </div>
                                    <div class="post-meta-date-box">
                                        {{ Blog.schedule_date|date }} | {{ Blog.schedule_date|time }}
                                    </div>
                                    <div style="--custom-bottom: 0px; --custom-right: 0px;">
                                        {% include 'share.html' with posts=Blog %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
                
            </div>
            <div class="row pb-3">
                <div class="col-lg-12">
                    <div class="blog-pagination-area ">
                        <ul class="page-numbers">
                            {% if Articale.has_previous %}
                                <li><a class="page-numbers" href="?articles_page={{ Articale.previous_page_number }}&page={{ BlogData.number }}&headline_page={{ headline.number }}&brknews_page={{ bnews.number }}&trending_page={{ trendpost.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ vidnews.number }}">
                                    <i class="icofont-long-arrow-left"></i>
                                </a></li>
                            {% endif %}
            
                            {% for page_num in Articale.paginator.page_range %}
                                {% if page_num == 1 or page_num == Articale.paginator.num_pages or page_num >= Articale.number|add:"-1" and page_num <= Articale.number|add:"1" %}
                                    {% if page_num == Articale.number %}
                                        <li><span aria-current="page" class="page-numbers current">{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a class="page-numbers" href="?articles_page={{ page_num }}&page={{ BlogData.number }}&headline_page={{ headline.number }}&brknews_page={{ bnews.number }}&trending_page={{ trendpost.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ vidnews.number }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% elif page_num == Articale.number|add:"-2" or page_num == Articale.number|add:"2" %}
                                    <li><span class="page-numbers">...</span></li>
                                {% endif %}
                            {% endfor %}
            
                            {% if Articale.has_next %}
                                <li><a class="page-numbers" href="?articles_page={{ Articale.next_page_number }}&page={{ BlogData.number }}&headline_page={{ headline.number }}&brknews_page={{ bnews.number }}&trending_page={{ trendpost.number }}&videos_page={{ videos.number }}&reels_page={{ reels.number }}&podcast_page={{ vidnews.number }}">
                                    <i class="icofont-long-arrow-right"></i>
                                </a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>           
        </div>
    </section>

    
    {% endif %}
</div>

<script src="{% static 'assets/category/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/category/js/vendor/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/category/js/vendor/odometer.min.js' %}"></script>
<script src="{% static 'assets/category/js/vendor/jquery-appear.js' %}"></script>
<script src="{% static 'assets/category/js/app.js' %}"></script>

<style>
    .post-block-style-wrapper .post-block-media-wrap a img {
        transition: .35s ease-in;
        display: block;
        overflow: hidden;
        width: 100%;
        object-fit: contain;
        height: auto !important;
    }
    .post-title {
        font-size: 16px !important;
    }

    .post-block-style-wrapper .post-block-content-wrap .post-excerpt-box p,
    .post-bottom-meta {
        color: inherit !important;
    }
    .post-bottom-meta{
        justify-content: inherit !important;
        gap: 10px !important;
    }
    .blog-pagination-area ul.page-numbers li span.page-numbers {
    color: #e01f15 !important;
    border-color: #e01f15 !important;
}
</style>

{% endblock %}