{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container my-4">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="section-title">Reporter Profiles</div>
      <div class="double-underline"></div>
      <p class="text-muted mb-2 mt-2 text-center" style="font-size: 14px;">
        जन हिमाचल – हिमाचल से दुनिया तक, हमारे सक्रिय रिपोर्टर और पत्रकार प्रोफ़ाइल.
      </p>
    </div>
  </div>

  {% include 'guist_profiles.html' with profiles=profiles %}
</div>
{% endblock %}


