{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="container my-4">
  <div class="row">
    <div class="col-12 mb-3">
      <!-- <div class="section-title">Reporter Profiles</div>
      <div class="double-underline"></div> -->
      <h2 class="text-center fw-bold py-3 border-bottom ">
        जन हिमाचल – हिमाचल से दुनिया तक, हमारे सक्रिय रिपोर्टर और पत्रकार प्रोफ़ाइल.
      </h2>
    </div>
  </div>

  {% include 'guist_profiles.html' with profiles=profiles %}
</div>
{% endblock %}


