{% load static %}
<div class="mb-3">
     <div class="mb-3">
          <div class="section-title">प्रायोजित</div>
          <div class="double-underline"></div>
    </div>
    
    <div class="mb-3">
        {% for adrcol in adright %}
        <a href="{{adrcol.ad_url}}" target="_blank"><img class="img-fluid w-100 news-image"
                src="{{adrcol.ad_image.url}}" alt="{{adrcol.ad_url}}" loading="lazy"></a>
        {% endfor %}
    </div>
</div>
<!-- <div class="my-1" >
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
        crossorigin="anonymous"></script>
    
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5922835412614482" data-ad-slot="2309629217"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div> -->


<div class="mb-3 ">
     <div class="mb-3">
          <div class="section-title">ट्रेंडिंग खबरें</div>
          <div class="double-underline"></div>
        </div>
    
    <div class="">
        {% for trendingpost in trendpost %}
        <a  href="/{{trendingpost.newsfrom.slug}}/{{trendingpost.post_cat.sub_cat.cat_slug}}/{{trendingpost.slug}}"><img class="" src="{{trendingpost.post_image.url}}" alt="{{trendingpost.post_title}}" title="{{trendingpost.post_title}}" loading="lazy"></a>
        <div class="news-card mb-3">
            <a class="news-title" href="/{{trendingpost.newsfrom.slug}}/{{trendingpost.post_cat.sub_cat.cat_slug}}/{{trendingpost.slug}}">
                <p>{{trendingpost.post_title|slice:":60"|safe}}...</p>
            </a>
            <a href="/{{trendingpost.newsfrom.slug}}/{{trendingpost.post_cat.sub_cat.cat_slug}}/{{trendingpost.slug}}" class="news-description">
                <p>{{trendingpost.post_short_des|slice:":100"|safe}}</p>
            </a>

            <div class="d-flex align-items-center px-2 my-1 mb-1 news-meta">
                <small><i class="fas fa-calendar-alt"></i> {{trendingpost.schedule_date|date}}</small>
                <small ><i class="fas fa-clock"></i> {{ trendingpost.schedule_date|time }}</small>
                <small ><i class="far fa-eye mr-2"></i>{{trendingpost.post_status|add:trendingpost.viewcounter}}</small>
                <div style="--custom-bottom: 0px; --custom-right: 0px;">
                        {% include 'share.html' with posts=trendingpost %}
                </div>
            </div>
        </div>
        <!-- <div class="my-1" >
            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5922835412614482"
                crossorigin="anonymous"></script>
            
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5922835412614482"
                data-ad-slot="2309629217" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div> -->
        {% endfor %}
    </div>
</div>
<style>
    .news-card {
        border-bottom: 1px solid #ddd;
    }

    .news-header {
        padding: 10px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }

    .news-image {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
    }

    .news-content {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
    }

    .news-title {
        font-size: 20px;
        margin-bottom: 8px;
        line-height: 1.5;
        font-weight: 600;
        

    }

    .news-description {
        line-height: 1.4;
        
    }

    .news-meta {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        border-top: 1px solid #eee;
    }

    .news-meta span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .news-meta img {
        width: 14px;
        height: 14px;
    }

  a {
    text-decoration: none !important;
  }

  li {
    list-style: none !important;
  }
</style>