<!-- Terms & Conditions Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" data-bs-backdrop="false"
    data-bs-keyboard="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termsModalLabel">Terms & Conditions</h5>
                <button style="background-color: #d61e25;" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <p>Here are the terms and conditions. You must read and agree before
                    proceeding.</p>
                <ul>
                    <li>🔹 You must be at least 18 years old.</li>
                    <li>🔹 Your data will be protected as per our privacy policy.</li>
                    <li>🔹 Any violation of terms may lead to account suspension.</li>
                    <li>🔹 Your personal information will not be shared with third
                        parties.</li>
                    <li>🔹 The company reserves the right to modify the terms at any
                        time.</li>
                    <li>🔹 You are responsible for maintaining account security.</li>
                    <li>🔹 Any form of abuse or misuse of our platform is prohibited.
                    </li>
                    <li>🔹 Failure to comply with our policies may result in
                        termination.</li>
                    <li>🔹 Refunds and cancellations are subject to our refund policy.
                    </li>
                    <li>🔹 You acknowledge that you have read and understood these
                        terms.</li>
                </ul>
                <p>By continuing, you accept our Terms & Conditions. Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Consequuntur rem aperiam rerum numquam earum officia ad cupiditate ullam, nostrum minus
                    tempore tenetur expedita debitis maiores sequi. Ipsa suscipit consectetur omnis distinctio eveniet
                    earum a atque mollitia iste minima? Quos reiciendis velit labore, maxime fugit in. Quisquam quae
                    sint odio dolore? Dolore nesciunt nemo, suscipit sapiente quam earum magnam nam dicta obcaecati!
                    Quibusdam maiores iste placeat voluptatibus expedita sed enim quaerat animi natus repellat? Culpa
                    facere libero veniam recusandae laborum quidem, nobis fugiat itaque ullam dolorem dolor. Aspernatur,
                    qui adipisci. Voluptatum impedit quidem earum aliquid deserunt, fugiat odio est iusto qui similique
                    quod numquam et, ratione saepe quibusdam eaque facilis! Eligendi, tenetur. Illum soluta mollitia
                    impedit nostrum nam quam veniam velit dignissimos eligendi exercitationem ipsum placeat maiores enim
                    illo ea, repudiandae officiis cupiditate consequuntur deleniti sint. Fugit ipsam dicta
                    exercitationem, eius, at voluptatum adipisci cum maiores commodi magni mollitia ex cupiditate enim
                    nihil neque voluptates quidem ad inventore? Pariatur eaque unde autem veniam quasi id odio soluta
                    voluptatem repellendus, distinctio, sequi perspiciatis placeat in error voluptate! Nam nobis, et
                    aliquid, obcaecati possimus perferendis doloribus ullam dicta provident officia aspernatur
                    asperiores numquam impedit omnis reiciendis minima consequatur quibusdam excepturi unde nulla quis
                    qui. Doloremque numquam ipsa sit et, corrupti culpa recusandae minima enim ea nobis perspiciatis
                    dolorem at mollitia maiores nisi alias cum repudiandae ratione quam, error illum laborum
                    exercitationem earum. Qui vel reiciendis veritatis totam dicta earum natus nemo, debitis dolorem
                    nostrum odio rerum repellendus accusamus ipsa a ducimus laudantium quas corrupti sequi. Hic quas
                    voluptas obcaecati inventore dignissimos quidem incidunt ipsam eligendi, accusantium impedit quam
                    vero facilis quia, totam sed animi soluta laudantium necessitatibus sint odio deleniti quae
                    veritatis natus dolores! Maiores laborum magnam dolor aliquid. Maxime illum iure perspiciatis,
                    expedita animi nam molestias temporibus adipisci consectetur delectus, vitae eius tempore
                    reprehenderit. Harum perferendis eveniet possimus odio pariatur quaerat deserunt, reprehenderit,
                    facere eum fugiat iusto sit facilis accusantium dolorum repellat veritatis blanditiis tenetur maxime
                    nulla, temporibus minus tempore! Nam, incidunt consequatur nisi reiciendis vel aliquam tenetur.
                    Placeat tempore officia laudantium quasi facere ducimus unde quam repellendus dolorum iure illum
                    quibusdam atque voluptate tempora ea, quae natus quis temporibus deserunt harum corporis aliquid
                    perspiciatis? Voluptatibus ut sunt veritatis. Inventore hic dicta esse consequatur odio praesentium
                    tempora doloremque expedita, blanditiis doloribus rem earum deleniti aliquid accusamus perferendis
                    voluptate? Ducimus quasi deserunt architecto minima ratione, nemo, in, excepturi aut facere nobis
                    deleniti! Id sed sapiente pariatur enim tempore atque ratione impedit quia optio, expedita,
                    blanditiis quaerat nostrum voluptatibus nobis soluta voluptatum aut temporibus sunt dignissimos
                    nihil neque. Maiores dolor deleniti nulla natus cum saepe non est, ex nam quis consectetur rem sequi
                    vitae fugit sapiente id quo quidem, consequatur quasi reprehenderit distinctio deserunt culpa.
                    Laboriosam quasi accusantium nulla dolorum assumenda perspiciatis eius porro, voluptatem a fugiat
                    facilis quas, magni quaerat deserunt commodi. Eveniet commodi voluptate corrupti quo necessitatibus
                    enim, quas ab similique ex perferendis facere numquam non, odit saepe dolores incidunt voluptatem!
                    Suscipit, mollitia ad? Dolores amet ad ipsum fuga cumque numquam doloribus. </p>
            </div>
            <div class="modal-footer">
                <button style="background-color: #d61e25;" type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>