{% extends 'base.html' %}
{% block body %}
{% load static %}

<div class="dxb-container">
    <div class="row container m-auto">
        <div class="col-lg-12 text-justify"><!-- collam-left !-->
            <h1 class="text-uppercase font-weight-bold">*Terms and Conditions*</h1>
            <p>
                Welcome to DXB News Network (DNN). If you continue to browse and use this website, you are agreeing to
                comply with and be bound by the following terms and conditions of use, which together with our privacy
                policy govern DNN's relationship with you in relation to this website. If you disagree with any part of
                these terms and conditions, please do not use our website.</p>
            <p>

                The term 'DXB News Network' or 'us' or 'we' refers to the owner of the website whose registered office
                is [insert address]. The term 'you' refers to the user or viewer of our website.
            </p>
            <h4 class="mt-3 font-weight-bold">
                *The use of this website is subject to the following terms of use:*
            </h4>
            <p>
                The content of the pages of this website is for your general information and use only. It is subject to
                change without notice.</p>
            <p>
                This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the
                following personal information may be stored by us for use by third parties: [insert list of
                information].</p>
            <p>
                Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,
                performance, completeness, or suitability of the information and materials found or offered on this
                website for any particular purpose. You acknowledge that such information and materials may contain
                inaccuracies or errors, and we expressly exclude liability for any such inaccuracies or errors to the
                fullest extent permitted by law.</p>
            <p>
                Your use of any information or materials on this website is entirely at your own risk, for which we
                shall not be liable. It shall be your own responsibility to ensure that any products, services, or
                information available through this website meet your specific requirements.</p>
            <p>
                This website contains material which is owned by or licensed to us. This material includes, but is not
                limited to, the design, layout, look, appearance, and graphics. Reproduction is prohibited other than in
                accordance with the copyright notice, which forms part of these terms and conditions.</p>
            <p>
                All trademarks reproduced in this website, which are not the property of, or licensed to the operator,
                are acknowledged on the website.</p>
            <p>
                Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</p>
            <p>
                From time to time, this website may also include links to other websites. These links are provided for
                your convenience to provide further information. They do not signify that we endorse the website(s). We
                have no responsibility for the content of the linked website(s).
                Your use of this website and any dispute arising out of such use of the website is subject to the laws
                of the United Arab Emirates.</p>
            <h4 class="mt-3">
                *Copyright Notice:*
            </h4>
            <p>
                This website and its content are copyright of DXB News Network. All rights reserved. Any redistribution
                or reproduction of part or all of the contents in any form is prohibited other than the following:
            </p>
            <p>
                You may print or download to a local hard disk extracts for your personal and non-commercial use only.
            </p>
            <p>
                You may copy the content to individual third parties for their personal use, but only if you acknowledge
                the website as the source of the material.
            </p>
            <p>
                You may not, except with our express written permission, distribute or commercially exploit the content.
                Nor may you transmit it or store it in any other website or other form of electronic retrieval system.
            </p>
            <h4 class="mt-3">
                *Contact Us:*
            </h4>
            <p>
                If you have any questions about these Terms and Conditions, please contact us:
            </p>
            <p>
                DXB News Network
                Email: support@janhimachal.com
                Phone: +971542991169.
            </p>
        </div>
    </div>
</div>

{% endblock %}