<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags-->
  <meta name="theme-color" content="#e42f08">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Title-->
  <title>Criação II” by Mónica Lima: A Cosmic Ode to Creation, Regeneration and the Eternal Journey of the Soul</title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.png">
  <link rel="apple-touch-icon" href="img/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/icons/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/icon-180x180.png">
  <!-- Add Font Awesome CDN for social icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons/css/themify-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">





  <!-- Stylesheet-->
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="mdxbstyle.css">

  <!-- Web App Manifest -->
  <link rel="manifest" href="manifest.json">
 
</head>

<body>
  <!-- Preloader-->
  <div class="preloader" id="preloader">
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Header Area-->
  <div class="header-area" id="headerArea">
    <div class="container h-100 d-flex align-items-center justify-content-between">
      <!-- Back Button-->
      <div class="back-button">
        <a href="home.html">
          <i class="ti ti-chevron-left"></i>
        </a>
      </div>

      <!-- Page Title-->
      <div class="page-heading">
        <h6 class="mb-0">Live Now</h6>
      </div>

      <!-- Search Form-->
      <div class="search-form">
        <a href="search.html">
          <i class="ti ti-search"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="page-content-wrapper">
    <!-- Live Video-->
    <div class="live-video-url">
      <div class="ratio ratio-16x9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lFGvqvPh5jI"></iframe>
      </div>
    </div>

    <!-- Live Video Info-->
    <div class="live-video-info">
      <div class="container">
        <h5 class="video-title mb-3">News10 - Blog & Magazine Mobile HTML Template</h5>
        <div class="d-flex align-items-center justify-content-between"><span class="video-time"><span
              class="red-circle me-1 flashing-effect"></span>Live Now</span>
          <span class="viwer-count d-flex align-items-center"><i class="h5 mb-0 me-1 ti ti-eye"></i> 12,185,609
            viewing</span>
        </div>
      </div>
    </div>

    <!-- Live Video Description-->
    <div class="live-video-description">
      <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt expedita a commodi id excepturi, laudantium
          blanditiis, quas, beatae temporibus suscipit alias?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil velit itaque sunt quam quod accusantium, nulla
          culpa distinctio.</p>
      </div>
    </div>

    <div class="container">
      <div class="border-top"></div>
    </div>

    <!-- Blog Comments-->
    <div class="live-video-comments">
      <div class="container">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h6 class="video-comments-title mb-0">9 Comments</h6>
          <!-- Sorting Button-->
          <div class="comment-sorting-option">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                class="ti ti-dots"></i></button>
            <div class="dropdown-menu dropdown-menu-end text-end">
              <button class="dropdown-item" type="button">Newest Comments</button>
              <button class="dropdown-item" type="button">Top Comments</button>
              <button class="dropdown-item" type="button">Most Likes Comments</button>
            </div>
          </div>
        </div>

        <!-- Comment Form-->
        <div class="comment-form">
          <form action="#" method="POST">
            <textarea id="comment-text" name="commenttext" cols="30" rows="10" placeholder="Write A Comment"></textarea>
            <button class="mt-2 btn btn-primary d-none" type="submit">Comment</button>
          </form>
        </div>

        <ul class="comments-list">
          <!-- Single Comment Area-->
          <li class="single-comment-wrap">
            <div class="d-flex mb-4">
              <div class="comment-author"><img src="img/bg-img/11.jpg" alt="author"></div>
              <div class="comment-meta">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="comment-author-info-wrap">
                    <h6 class="comments-author-name">Hello Dolly</h6><span class="post-date">58 min ago</span>
                  </div>
                  <div class="like-count d-flex align-items-center"><span>128</span><a class="like" href="#"><i
                        class="ti ti-heart"></i></a></div>
                </div>
                <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                  class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
              </div>
            </div>

            <ul class="children-comments-list">
              <!-- Single Comment Area-->
              <li class="single-comment-wrap">
                <div class="d-flex mb-4">
                  <div class="comment-author"><img src="img/bg-img/17.jpg" alt="author"></div>
                  <div class="comment-meta">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <div class="comment-author-info-wrap">
                        <h6 class="comments-author-name">Sarah Lim</h6><span class="post-date">58 min ago</span>
                      </div>
                      <div class="like-count d-flex align-items-center"><span>85</span><a class="like" href="#"><i
                            class="ti ti-heart"></i></a></div>
                    </div>
                    <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                      class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
                  </div>
                </div>
              </li>

              <!-- Single Comment Area-->
              <li class="single-comment-wrap">
                <div class="d-flex mb-4">
                  <div class="comment-author"><img src="img/bg-img/20.jpg" alt="author"></div>
                  <div class="comment-meta">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <div class="comment-author-info-wrap">
                        <h6 class="comments-author-name">Suha Lim</h6><span class="post-date">58 min ago</span>
                      </div>
                      <div class="like-count d-flex align-items-center"><span>67</span><a class="like" href="#"><i
                            class="ti ti-heart"></i></a></div>
                    </div>
                    <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                      class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
                  </div>
                </div>
              </li>
            </ul>
          </li>

          <!-- Single Comment Area-->
          <li class="single-comment-wrap">
            <div class="d-flex mb-4">
              <div class="comment-author"><img src="img/bg-img/21.jpg" alt="author"></div>
              <div class="comment-meta">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="comment-author-info-wrap">
                    <h6 class="comments-author-name">H. Riyadh</h6><span class="post-date">58 min ago</span>
                  </div>
                  <div class="like-count d-flex align-items-center"><span>31</span><a class="like" href="#"><i
                        class="ti ti-heart"></i></a></div>
                </div>
                <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                  class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
              </div>
            </div>
          </li>

          <!-- Single Comment Area-->
          <li class="single-comment-wrap">
            <div class="d-flex mb-4">
              <div class="comment-author"><img src="img/bg-img/22.jpg" alt="author"></div>
              <div class="comment-meta">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="comment-author-info-wrap">
                    <h6 class="comments-author-name">Affan M.</h6><span class="post-date">58 min ago</span>
                  </div>
                  <div class="like-count d-flex align-items-center"><span>47</span><a class="like" href="#"><i
                        class="ti ti-heart"></i></a></div>
                </div>
                <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                  class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
              </div>
            </div>

            <ul class="children-comments-list">
              <!-- Single Comment Area-->
              <li class="single-comment-wrap">
                <div class="d-flex mb-4">
                  <div class="comment-author"><img src="img/bg-img/23.jpg" alt="author"></div>
                  <div class="comment-meta">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <div class="comment-author-info-wrap">
                        <h6 class="comments-author-name">Kitty Lim</h6><span class="post-date">58 min ago</span>
                      </div>
                      <div class="like-count d-flex align-items-center"><span>53</span><a class="like" href="#"><i
                            class="ti ti-heart"></i></a></div>
                    </div>
                    <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                      class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
                  </div>
                </div>
              </li>

              <!-- Single Comment Area-->
              <li class="single-comment-wrap">
                <div class="d-flex mb-4">
                  <div class="comment-author"><img src="img/bg-img/24.jpg" alt="author"></div>
                  <div class="comment-meta">
                    <div class="d-flex align-items-center justify-content-between mb-2">
                      <div class="comment-author-info-wrap">
                        <h6 class="comments-author-name">Dolly Molly</h6><span class="post-date">58 min ago</span>
                      </div>
                      <div class="like-count d-flex align-items-center"><span>31</span><a class="like" href="#"><i
                            class="ti ti-heart"></i></a></div>
                    </div>
                    <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                      class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
                  </div>
                </div>
              </li>
            </ul>

            <!-- Single Comment Area-->
          <li class="single-comment-wrap">
            <div class="d-flex mb-4">
              <div class="comment-author"><img src="img/bg-img/25.jpg" alt="author"></div>
              <div class="comment-meta">
                <div class="d-flex align-items-center justify-content-between mb-2">
                  <div class="comment-author-info-wrap">
                    <h6 class="comments-author-name">S. Seikh</h6><span class="post-date">58 min ago</span>
                  </div>
                  <div class="like-count d-flex align-items-center"><span>114</span><a class="like" href="#"><i
                        class="ti ti-heart"></i></a></div>
                </div>
                <p class="comment-text">Thanks guys, keep up the good work! The best on the net!</p><a
                  class="reply reply-comment-btn" href="#"><i class="me-1 ti ti-message-circle"></i>Reply</a>
              </div>
            </div>
          </li>
          </li>
        </ul>

        <!-- Comment Form-->
        <div class="comment-form reply-comment-form">
          <form action="#" method="POST">
            <textarea id="comment-text2" name="" cols="30" rows="10" placeholder="Write &amp; Press Enter"></textarea>
            <button class="btn btn-primary" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

 <!-- Footer Nav -->
  <div class="footer-nav-area" id="footerNav">
    <div class="newsten-footer-nav h-100">
      <ul class="h-100 d-flex align-items-center justify-content-between">
        <li class="active">
          <a href="home.html">
            <i class="bi bi-house-door-fill"></i> <!-- Home Icon -->
          </a>
        </li>
        <li>
          <a href="catagory.html">
            <i class="bi bi-grid-fill"></i> <!-- Category Icon -->
          </a>
        </li>
        <li>
          <a href="trending.html">
            <i class="bi bi-lightning-charge-fill"></i> <!-- Trending Icon -->
          </a>
        </li>
        <li>
          <a href="pages.html">
            <i class="bi bi-bell-fill"></i> <!-- Notifications Icon -->
          </a>
        </li>
        <li>
          <a href="all-categories.html">
            <i class="bi bi-file-earmark-text-fill"></i> <!-- All Categories Icon -->
          </a>
        </li>
      </ul>

    </div>
  </div>
  <!-- All JavaScript Files-->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/waypoints.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.animatedheadline.min.js"></script>
  <script src="js/jquery.counterup.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/date-clock.js"></script>
  <script src="js/dark-mode-switch.js"></script>
  <script src="js/active.js"></script>
  <script src="js/pwa.js"></script>
</body>

</html>