/* Container for the buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
}

/* Style for each button */
.custom-btn {
  color: white;
  font-size: 12px;
  padding: 10px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  flex: 1;
  margin: 10px 7px;
  font-weight: 600;
  transform: skew(-15deg) !important; /* Slanted effect */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}
.newsbtn-left {
  background-image: linear-gradient(
    to right top,
    #ec75b1,
    #f083ba,
    #f591c3,
    #f99fcb,
    #fdacd4
  );
  background: linear-gradient(45deg, #e01f15, #f44336);
}

.newsbtn-center {
  background-image: linear-gradient(
    to right top,
    #4a94e1,
    #569ce5,
    #62a4ea,
    #6dacee,
    #78b4f2
  );
  background: linear-gradient(45deg, #1931d4, #4c6eff);
}

.newsbtn-right {
  background-image: linear-gradient(
    to right top,
    #a181c7,
    #a98acd,
    #b092d4,
    #b89bda,
    #c0a4e1
  );
  background: linear-gradient(45deg, #067d7d, #1cc2c2);
}
/* Hover effect */
.custom-btn:hover {
  background-color: #45a049;
  transform: scale(1.05); /* Slightly enlarge the button */
}

/* Focus effect */
.custom-btn:focus {
  outline: none;
}

.floating-social-links-vertical {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(-55%);
  z-index: 999;
  background-color: #000000e6;
  padding: 10px;
  border-radius: 0px;
 
}

.social-icon {
      display: block;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: white !important;
    text-align: center;
    line-height: 31px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 2px;
}

.social-icon i {
  font-size: 20px;
}

.social-icon:hover {
  background-color: #007bff;
  transform: scale(1.1);
}

.social-icon.facebook {
  background-color: #3b5998;
}

.social-icon.twitter {
  background-color: #1da1f2;
}

.social-icon.instagram {
  background-color: #e4405f;
}

.social-icon.linkedin {
  background-color: #0077b5;
}

.brand-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #fffacc;
}

.brand-container {
  display: flex;
  animation: slide-left 10s linear infinite;
}

.brand {
  flex-shrink: 0;
  width: 85px; /* Adjust as per your brand image size */
  padding: 4px;
}

.brand img {
  width: 100%;
  display: block;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Basic Styles */
.accordion {
  width: 100%;
  margin: 0 auto;
}

/* Accordion Items */
.accordion-item {
  border-bottom: 1px solid #5c6ee7 !important;
}

/* Accordion Button Style */
.accordion-btn {
  background-color: #1931d4; /* Light red background */
  color: #fff;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.accordion-btn:hover {
  background-color: #1426a4; /* Darker red when hovered */
  transform: scale(1.05); /* Slightly enlarge the button */
}

/* Accordion Content */
.accordion-content {
  display: none;
  padding-left: 20px;
  background-color: #304af4; /* Matching background color */
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

/* Link Styling */
.accordion-content a {
  color: #fff;
  padding: 8px 0;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.accordion-content a:hover {
  background-color: #304af4;
  color: white;
}

/* Arrow Rotation */
.arrow {
  transition: transform 0.3s ease;
}

/* Rotate arrow when the content is shown */
.accordion-btn.active .arrow {
  transform: rotate(90deg);
}

/* Show Accordion Content when active */
.accordion-item.active .accordion-content {
  display: block;
  max-height: 200px; /* Adjust this for smoother transitions */
}

/* Optional: Make links visually appear on hover */
.accordion-item:hover .accordion-content {
  display: block;
}

/* Modal background */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
    padding: 0px;
    max-width: 100%;
    text-align: center;
    position: absolute;

}
.slider-item, .btn{ font-size: 2rem;}
/* Modal close button */
.close {
  position: absolute;
  top: 6px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: none;
  color: #fff;
}

button {
  background-color: #e01f15;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

button:hover {
  background-color: #b8150d;
}

/* Notification icon */
.notification-icon {
  font-size: 30px;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: #f7f7f7 !important;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 10001;
}
.side-menu.active {
  left: 0;
}
.menu-item {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.menu-item a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.menu-back {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.submenu,
.thirdmenu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #f7f7f7 !important;
  transition: left 0.3s ease;
  overflow-y: auto;
  z-index: 1001;
}
.submenu.active,
.thirdmenu.active {
  left: 0;
}

.red-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e01f15;
}
.sidenav-nav li a:hover,
.sidenav-nav li a:focus {
  color: #e01f15;
  font-weight: 500;
}
